<div class="container">
  <h3>Please Sign In to proceed</h3>
<br/>
<form class="form-horizontal" [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value, loginForm.valid)">
    <fieldset>

        <!--div class="form-group col-md-4">
            <h4>Create an AppXplorer account</h4>
        </div>-->

        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label form-control-modify" for="username">Your email</label>  
            <div class="col-md-4 apply-max-width-99">
                <input id="username" name="username" formControlName="username" type="text" placeholder="email@company.com" class="form-control input-md input-md-modify" required="">
                
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label form-control-modify" for="password">Password</label>
            <div class="col-md-4 apply-max-width-99">
                <input id="password" name="password" formControlName="password" type="password" placeholder="At least 8 characters" class="form-control input-md input-md-modify" required="">
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label" for="checkboxes"></label>
            <div class="col-md-4 apply-max-width-99">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <div class="custom-control-indicator"></div>
                    <div class="custom-control-description">I agree to the <span class="tnc-link">terms and conditions</span></div>
                </label>
            </div>
        </div>

        <!--div class="form-group">
            <label class="col-md-4 control-label" for="login"></label>
            <div class="col-md-4">
                <button id="login" name="login" class="btn btn-primary">Create my account</button>
            </div>
        </div>-->

    </fieldset>
    <button type="submit" class="btn btn-primary right-align">Sign In</button>
</form>
</div>
