<div class="top-nav-bar">
    <a href="#" class="non-highlighted-router-link" routerLink="show-published-apps" routerLinkActive="highlighted-router-link">Published Apps</a>
    <a href="#" class="non-highlighted-router-link" routerLink="show-draft-apps" routerLinkActive="highlighted-router-link">Drafts</a>
    <a href="#" class="dark-button move-button-to-right lift-button-up" routerLink="../show-add-new-app" routerLinkActive="highlighted-router-link"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add a new application</a>
</div>
<router-outlet></router-outlet>