div.progress {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    background-color: rgb(186, 186, 186) !important;
}

div.progress-bar {
    background-color: rgb(97, 97, 97) !important;
}

span.progressText {
	color: rgb(185, 185, 185);
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

div.bring-down-progress-element {
    margin-top: 10px !important;
}