<div class="top-nav-bar">
    <div class="add-new-card-top-nav-table add-left-right-padding full-width">
        <div class="add-new-card-nav-row">

            <div class="add-new-card-nav-cell left width-one-third">
                <a href="#" class="text-1 bold" routerLink="/show-myapps">Home</a>&nbsp;
                <span class="fa fa-angle-right text-2 bold"></span>&nbsp;
                <span class="text-1">Name of application</span>
            </div>
             <div class="add-new-card-nav-cell  right">
                <a href="#" class="dark-button button-decorate" routerLink="../../show-add-new-app" routerLinkActive="highlighted-router-link"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Edit this application</a>
       </div>
          
        </div>

    </div>
      
</div>
    <router-outlet></router-outlet>

