<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="logdir">${sys:catalina.base}/logs</Property>
  </Properties>

  <Appenders>
  	
    <RollingFile name="FILE_AX-CISERVICES" fileName="${logdir}/ax-ciservices.log"
                 filePattern="${logdir}/ax-ciservices-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d{ISO8601} [%t] (sid=%X{sessionId}) %-5p %c{1.}:%L %m%n</Pattern>
        <!--<Pattern>%d{ISO8601} [%t] %-5p %c{1.}:%L %m%n</Pattern>-->
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{ISO8601} [%t] %-5p %c{1.}:%L %m%n</Pattern>
      </PatternLayout>
    </Console>
    
  </Appenders>

  <Loggers>
    <Logger name="org.apache.log4j.xml" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="FILE_AX-CISERVICES"/>
    </Root>
  </Loggers>
</Configuration>