<div class="adjust-top-padding adjust-bottom-padding content-wrapper add-vertical-scrollbar style-3 ">
    <div class="table">
        <div class="row">
            <div class="cell adjust-card-details-left-pane" style="width:20%">
                <div class="table">
                    <div class="row">
                        <div class="cell">
                            <div>
                                <a href="#" routerLink="../../show-app-desc">
                                    <div class="box-for-card-logo make-it-big-square"></div>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="cell valign-top padding-right" style="width:50%">
                <div class="table border-bottom padding-bottom">
                    <div class="row">
                        <div class="cell bold">
                            <div class="fixed-table">
                                <div class="row">
                                    <div class="cell application-heading  bold padding-bottom ">
                                        <div>Name of Application
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell application-desc  bold ">
                                        <div> Application DescriptionApplication DescriptionApplication DescriptionApplication
                                            DescriptionApplication DescriptionApplication DescriptionApplication DescriptionApplication
                                            DescriptionApplication DescriptionApplication DescriptionApplication DescriptionApplication
                                            DescriptionApplication Description
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="table padding-top">
                    <div class="row">
                        <div class="cell valign-top">
                            <div class="box-for-card-logo make-it-small-square"></div>
                        </div>
                        <div class="cell valign-top bold">
                            <div class="table">
                                <div class="row">
                                    <div class="cell bold ">
                                        <span>Name of Application provider</span>&nbsp;&nbsp;<span class="light-grey">Segment</span>

                                    </div>


                                </div>
                                <div class="row">
                                    <div class="cell light-grey bold"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;contact</div>

                                </div>
                                <div class="row">
                                    <div class="cell light-grey bold"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;phone</div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="cell valign-top padding-left padding-top">
                <div class="table ">
                    <div class="row">
                        <div class="cell bold">
                            <div class="fixed-table">
                                <div class="row">
                                    <div class="cell grey-container padding-bottom  bold"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    <div class="cell grey-container   bold">http://www.app-site.com</div>
                                </div>
                                <div class="row">
                                    <div class="cell light-grey padding-bottom  bold"><i class="fa fa-square" aria-hidden="true"></i></div>
                                    <div class="cell light-grey  bold">Shared and dedicated&nbsp;
                                        <i class="fa fa-question-circle" aria-hidden="true"></i></div>
                                </div>
                                <div class="row">
                                    <div class="cell light-grey padding-bottom  bold"><i class="fa fa-download" aria-hidden="true"></i></div>
                                    <div class="cell light-grey  bold">Can be downloaded worldwide</div>
                                </div>
                                <div class="row">
                                    <div class="cell light-grey padding-bottom  bold"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                    <div class="cell light-grey  bold">Can be used worldwide</div>
                                </div>
                                <div class="row">
                                    <div class="cell grey-container padding-bottom  bold"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    <div class="cell  grey-container  bold">Show key settings</div>
                                </div>
                                <div class="row">
                                    <div class="cell grey-container padding-bottom  bold"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                    <div class="cell grey-container  bold">Upload Terms & Conditions</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>