body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

html, body, .container-table {
    height: 100%;
}

h5 {
	color: #505050;
}

div.container-table-50 {
    display: table;
	width: 40%;
}

div.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

div.center {
	text-align: center;
}

div.auto-align-center {
	margin-left: auto;
	margin-right: auto;
}

div.auto-align-center-vertical {
	margin-top: auto;
}

h5 {
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(51, 51, 51) !important;
}

.btn-primary {
	font-weight: bold;
	border-color: rgba(111, 168, 220, 1) !important;
	background-color: rgba(111, 168, 220, 1) !important;
}

.control-label {
	font-weight: bold;
	color: rgb(102, 102, 102) !important;
}

.form-group {
	text-align: left;
}

.apply-max-width-99 {
	max-width: 99.999999% !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal-header {
	border-bottom: 0px !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.form-control-modify {
	font-weight: bold;
	color: #505050 !important;
}

.input-md-modify {
	font-weight: bold;
	color: #505050 !important;
}

.help-text-input-bottom {
	font-weight: bold;
	font-size: 12px;
	color: #b2b2b2 !important;
}

.left-align {
	margin-right: auto;
}

.width-100p {
	width: 100%;
}

span.tnc-link {
	color: rgb(39, 100, 160);
	text-decoration: underline;
}

div.custom-control-description {
	color: rgb(125, 118, 112) !important;
}

body.modal-open {
	text-shadow: 0 0 0;
}