
backend/ax-entity/target/**
backend/ax-entity/.classpath
backend/ax-entity/.project
backend/ax-entity/.settings/**
backend/ax-entity/logs/**

backend/ax-marketservices/ax-adminservices/.project
backend/ax-marketservices/ax-adminservices/.settings/**

backend/ax-marketservices/ax-adminservices/target/**
backend/ax-marketservices/ax-adminservices/.classpath
backend/ax-marketservices/ax-adminservices/.project
backend/ax-marketservices/ax-adminservices/.settings/**

backend/ax-marketservices/ax-apservices/target/**
backend/ax-marketservices/ax-apservices/.classpath
backend/ax-marketservices/ax-apservices/.project
backend/ax-marketservices/ax-apservices/.settings/**

backend/ax-marketservices/ax-ciservices/target/**
backend/ax-marketservices/ax-ciservices/.classpath
backend/ax-marketservices/ax-ciservices/.project
backend/ax-marketservices/ax-ciservices/.settings/**


backend/.project
backend/.settings/**

backend/ax-marketservices/.project
backend/ax-marketservices/.settings/**

backend/ax-commons/.project
backend/ax-commons/.settings/**

backend/ax-commons/ax-commonsutils/.classpath
backend/ax-commons/ax-commonsutils/.project
backend/ax-commons/ax-commonsutils/.settings/**
backend/ax-commons/ax-commonsutils/target/**

backend/ax-commons/ax-servicesutils/.classpath
backend/ax-commons/ax-servicesutils/.project
backend/ax-commons/ax-servicesutils/.settings/**
backend/ax-commons/ax-servicesutils/target/**

backend/ax-commons/ax-servicesmodel/.classpath
backend/ax-commons/ax-servicesmodel/.project
backend/ax-commons/ax-servicesmodel/.settings/**
backend/ax-commons/ax-servicesmodel/target/**

ui/ax-market/node_modules/**
ui/market/node_modules/**
ui/cardissuer/node_modules/**
ui/appprovider/node_modules/**

ui/appprovider/e2e/**
ui/logs/**


ui/appprovider/npm-debug.log
ui/cardissuer/npm-debug.log
ui/market/npm-debug.log


ui/market/.vscode/**
ui/appprovider/.vscode/**
ui/cardissuer/.vscode/**
ui/ax-market/npm-debug.log
ui/ax-market/node_modules/**
ui/appprovider/npm-debug.log.3609087837


ui/cardissuer/public/dashboardApp/**/*.js
ui/cardissuer/public/dashboardApp/**/*.js.map
ui/cardissuer/public/dashboardApp/modules/*.js
ui/cardissuer/public/dashboardApp/modules/*.js.map

ui/appprovider/npm-debug.log
ui/appprovider/src/
ui/cardissuer/npm-debug.log

ui/ax-market/public/dashboardCIApp/**/*.js
ui/ax-market/public/dashboardCIApp/**/*.js.map
ui/ax-market/public/dashboardCIApp/modules/*.js
ui/ax-market/public/dashboardCIApp/modules/*.js.map
ui/ax-market/public/dashboardCIApp/components/**/*.js
ui/ax-market/public/dashboardCIApp/components/**/*.js.map


ui/ax-market/public/homeApp/**/*.js
ui/ax-market/public/homeApp/**/*.js.map
ui/ax-market/public/homeApp/modules/*.js
ui/ax-market/public/homeApp/modules/*.js.map

ui/ax-market/public/homeApp/components/login/*.js
ui/ax-market/public/homeApp/components/login/*.js.map
ui/ax-market/public/homeApp/modules/*.js
ui/ax-market/public/homeApp/modules/*.js.map
ui/ax-market/public/homeApp/services/*.js
ui/ax-market/public/homeApp/services/*.js.map

ui/ax-market/public/utis/*.js
ui/ax-market/public/utils/*.js.map

ui/ax-market/public/models/*.js
ui/ax-market/public/models/*.js.map

ui/ax-market/public/dashboardAPApp/**/*.js
ui/ax-market/public/dashboardAPApp/**/*.js.map

ui/ax-market/public/dashboardAPApp/modules/*.js
ui/ax-market/public/dashboardAPApp/modules/*.js.map


