<form class="form-horizontal" [formGroup]="registerForm" novalidate (ngSubmit)="register(registerForm.value, registerForm.valid)">
    <fieldset>

        <!--<div class="form-group col-md-4">
            <h5>Create an AppXplorer account</h5>
        </div>-->

        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label form-control-modify" for="username">Your email</label>  
            <div class="col-md-4 apply-max-width-99">
                <input id="username" name="username" formControlName="username" type="text" placeholder="email@company.com" class="form-control input-md input-md-modify" required="">
                <span class="help-text-input-bottom">We'll send a link to confirm your account to this email address.</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label form-control-modify" for="password">Set a password</label>
            <div class="col-md-4 apply-max-width-99">
                <input id="password" name="password" formControlName="password" type="password" placeholder="At least 8 characters" class="form-control input-md input-md-modify" required="">
                <span class="help-text-input-bottom">Please use upper case letters, digits and special characters for security.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 apply-max-width-99 control-label" for="checkboxes"></label>
            <div class="col-md-4 apply-max-width-99">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <div class="custom-control-indicator"></div>
                    <div class="custom-control-description">I agree to the <span class="tnc-link">terms and conditions</span></div>
                </label>
            </div>
        </div>

        <!--div class="form-group">
            <label class="col-md-4 control-label" for="login"></label>
            <div class="col-md-4">
                <button id="login" name="login" class="btn btn-primary">Create my account</button>
            </div>
        </div>-->

    </fieldset>
    <button type="submit" class="btn btn-primary left-align">Create my account</button>
</form>
