<div class="content-wrapper add-vertical-scrollbar style-3">
    <div class="content-heading bold">Basic Information</div><br/>

    <div class="form-group">
        <label for="" class="bold text-1">Card name</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">The card name is only visible to you.</div><br/>
    </div>
    <div class="form-group">
        <label for="" class="bold text-1">Contact email address</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Use an email address for end users to contact you.</div><br/>
    </div>
    <div class="form-group">
        <label for="" class="bold text-1">Phone number</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Include country extension at the beginning, eg. +43 316 123456</div><br/>
    </div>
    <div class="form-group">
        <label for="" class="bold text-1">Business segment</label><br/>
        <select2 [data]="businessSegments"></select2><br/><br/>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Company or promotion logo</label><br/>
        <input id="cardLogo" type="file" class="file" value="Upload">
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">In which countries can the card be used?</label><br/>
        <select2 [data]="countriesList" [options]="options" [width]="475" [value]="value" (valueChanged)="selectCountry($event)">
        </select2><br/><br/>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Where exactly can the card be picked up?</label><br/>
        <textarea class="form-control input-element-width" rows="5"></textarea>
        <div class="basic-information-subtitle-text bold">Example: In every Starbucks coffee shop; at every public trasport ticket machine; etc</div><br/>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Link to your online card be picked up?</label>
        <input type="text" class="form-control input-element-width" />
    </div>
</div>