<div class="content-wrapper add-vertical-scrollbar style-3">
    <div class="content-heading bold">Technical Information</div><br/>

    <div class="form-group">
        <label for="" class="bold text-1">Application ID</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Example: B8K6Wb72t}ch)Xf?AgNFm)8; or fetch your Application ID if you don't already have one</div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Number of Keys</label><br/>
        <input type="text" class="form-control input-element-width" />
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Which keys do you want to change</label><br/>
        <div class="table input-element-width">
            <div class="row">
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox1" value="option1">
                    <label for="inlineCheckbox1" class="radio-text">Keep default keys</label>
                </div>
                <div class="cell" style="width: 5%">
                </div>
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox2" value="option1">
                    <label for="inlineCheckbox2" class="radio-text">Change Master Key</label>
                </div>
                <div class="cell" style="width: 5%">
                </div>
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox3" value="option1">
                    <label for="inlineCheckbox3" class="radio-text">Change all keys</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Application size in bytes</label><br/>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Calculate your estimated application size</div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">DF Name</label>
        <input type="text" class="form-control input-element-width" />
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">ISO File ID</label>
        <input type="text" class="form-control input-element-width" />
    </div>
    <div class="form-group">
        <label for="" class="bold text-1">File ID</label><br/>
        <div class="table input-element-width">
            <div class="row">
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox1" value="option1">
                    <label for="inlineCheckbox1" class="radio-text">2 Bytes</label>
                </div>
                <div class="cell" style="width: 5%">
                </div>
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox2" value="option1">
                    <label for="inlineCheckbox2" class="radio-text">3 Bytes</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Communication mode</label><br/>
        <div class="table input-element-width">
            <div class="row">
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox1" value="option1">
                    <label for="inlineCheckbox1" class="radio-text">Plain</label>
                </div>
                <div class="cell" style="width: 5%">
                </div>
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox2" value="option1">
                    <label for="inlineCheckbox2" class="radio-text">AES</label>
                </div>
                <div class="cell" style="width: 5%">
                </div>
                <div class="cell checkbox-inline-border">
                    <input type="radio" id="inlineCheckbox3" value="option1">
                    <label for="inlineCheckbox3" class="radio-text">3rd option</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Key A</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Where to find Key A?</div>
    </div>

    <div class="form-group">
        <label for="" class="bold text-1">Key B</label>
        <input type="text" class="form-control input-element-width" />
        <div class="basic-information-subtitle-text bold">Where to find Key B?</div>
    </div>