.basic-information-subtitle-text {
    color: rgb(185, 185, 185);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.input-element-width {
    width: 50%;
}

.text-1 {
    color: rgba(102, 102, 102, 1);
}

.text-2 {
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
}

.radio-text {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox-inline-border {
    border: solid 1px;
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    border-color: #CCCCCC;
    border-radius: 5px;
}

.plus-minus-table {
    width: 25%;
}

.plus-minus-text-cell {
    width: 75%;
}

.plus-minus-text-control {
    width: 75%;
    background-color: #DDDDDD;
}

.plus-minus-cell {
    width: 15%;
    vertical-align: middle;
}

.plus-minus-size-color {
    color: #999999;
    font-size: 25px;
}