div.tabulator-container-gray-outline  {

    padding-bottom: 8px;

    font-size: 14px;
    color: rgba(98, 98, 98, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgba(221, 221, 221, 1);
}

.border-bottom {
    border: none;
 border-bottom:  3px solid rgba(221, 221, 221, 1);
}

.requestlist-padding-right{
padding-right: 25px;
}

.requestlist-padding-left{
padding-left: 100px;
}

.width{
    width:100%
}