div.tabulator-container-gray-outline  {

    padding-bottom: 14px;

    font-size: 14px;
    color: rgba(98, 98, 98, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgba(221, 221, 221, 1);
    
}

.border-bottom {
    border-width: 80%;
 border-bottom:  2px solid rgba(221, 221, 221, 1);
}

.background-color{
    background-color: antiquewhite;
}

.anchor-style{
    font-size: 14px;
    text-decoration: underline;
    color: rgba(98, 98, 98, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.text-decoration{
    text-decoration: none;
}

.width-30{
    width:30%;
}

.width-40{
    width:30%;
}