<div class="top-nav-bar">
  <a href="#" class="non-highlighted-router-link" routerLink="show-accountdetails" routerLinkActive="highlighted-router-link">Account Details</a>
  <a href="#" class="non-highlighted-router-link" routerLink="show-termsandconditions" routerLinkActive="highlighted-router-link">Terms and Conditions</a>
  <a href="#" class="non-highlighted-router-link" routerLink="show-pricingtiers" routerLinkActive="highlighted-router-link">Pricing Tiers</a>
  <a href="#" class="non-highlighted-router-link" routerLink="show-keysettings" routerLinkActive="highlighted-router-link">Key Settings</a>
</div>
<router-outlet></router-outlet>