<div class="top-nav-bar">
    <a href="#" class="non-highlighted-router-link" routerLink="show-draft-cards" routerLinkActive="highlighted-router-link">Drafts</a>
    <a href="#" class="non-highlighted-router-link" routerLink="show-issued-cards" routerLinkActive="highlighted-router-link">Issued cards</a>
    <a href="#" class="dark-button move-button-to-right lift-button-up" routerLink="../show-add-new-card" routerLinkActive="highlighted-router-link"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add a new card</a>
</div>
<router-outlet></router-outlet>