<div class="content-wrapper add-vertical-scrollbar style-3 add-bottom-padding-to-dashboard-overview">
    <div class="content-heading content-heading-underline bold">Featured Application Providers:</div>
    <ul class="component-list">
        <li *ngFor="let cardDetail of cardDetails; let isLast=last; let curIndex=index" class="pack-horizontal">
            <div *ngIf="curIndex<=5">
                <card-snapshot [display-mode]="'draft'" [name]="cardDetail.name" [updatedOn]="cardDetail.updatedOn" [spaceLeftOnCardPercent]="cardDetail.spaceLeftOnCardPercent"
                    [showSpaceInformation]="true" [tokenKey]="cardDetail.tokenKey"></card-snapshot>
                    <div *ngIf="isLast">
                        <div class="adjust-bottom-padding-last"></div>
                    </div>
            </div>
        </li>
    </ul>
<div class="displayLink"><span class="showText">Show All Applications</span></div>
</div>