.basic-information-subtitle-text {
    color: rgb(185, 185, 185);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.input-element-width {
    width: 45%;
}

.text-1 {
    color: rgba(102, 102, 102, 1);
}