<div id="wrapper">
    <!-- Sidebar starts -->
    <div id="sidebar-wrapper" class="pad-dashboard-left pad-dashboard-top">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <div class="nxp-99px"></div>
            </li>
            <li>
                <div><a href="#" routerLink="show-home" routerLinkActive="sidebar-nav-link-active"><span class="fa fa-home icon-size"></span><br/>Home</a></div>
            </li>
            <li>
                <div><a href="#" routerLink="show-myapps" routerLinkActive="sidebar-nav-link-active"><span class="fa fa-square icon-size"></span><br/>My Apps</a></div>
            </li>
            <li>
                <div><a href="#" routerLink="show-requests" routerLinkActive="sidebar-nav-link-active"><span class="fa fa-inbox icon-size"></span><br/>Requests</a></div>
            </li>
            <li>
                <div><a href="#" routerLink="show-account" routerLinkActive="sidebar-nav-link-active"><span class="fa fa-user icon-size"></span><br/>Account</a></div>
            </li>
        </ul>
    </div>
    <!-- Sidebar ends -->
</div>