body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
}

html, body, .container-table {
    height: 100%;
}

h5 {
	color: #505050;
}

.bold {
	font-weight: bold !important;
}

.uppercase {

	text-transform: uppercase;
}

.hideme {
	display: none !important;
}

.vanishme {
	visibility: hidden !important;
}

div.dashboard-container {
	min-width: 80vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 5%;
}

div.draw-dashboard-border {
    border-top: 2px solid rgb(51,51,51);
    border-right: 2px solid rgb(51,51,51);
}

div.nxp-99px {
	width: 99px !important;
	height: 50px !important;
	background: url('images/nxp99px.jpg') center center no-repeat;
}

div.pad-dashboard-top {
	top: 23px;
}

div.container-table-50 {
    display: table;
	width: 40%;
}

div.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left-align {
	margin-right: auto;
}

.auto-align-center {
	margin-left: auto;
	margin-right: auto;
}

.right-align {
    margin-left: auto;
}

div.auto-align-center-vertical {
	margin-top: auto;
}

h5 {
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(51, 51, 51) !important;
}

.btn-primary {
	font-weight: bold;
	border-color: rgba(111, 168, 220, 1);
	background-color: rgba(111, 168, 220, 1);
}

.btn-primary:disabled {

	font-weight: bold;
	border-color: rgba(221, 221, 221, 1);
	background-color: rgba(221, 221, 221, 1);

}

.control-label {
	font-weight: bold;
	color: rgb(102, 102, 102) !important;
}

.form-group {
	text-align: left;
}

.apply-max-width-99 {
	max-width: 99.999999% !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal-header {
	border-bottom: 0px !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.form-control-modify {
	font-weight: bold;
	color: #505050 !important;
}

.input-md-modify {
	font-weight: bold;
	color: #505050 !important;
}

.help-text-input-bottom {
	font-weight: bold;
	font-size: 12px;
	color: #b2b2b2 !important;
}

.width-100p {
	width: 100%;
}

span.tnc-link {
	color: rgb(39, 100, 160);
	text-decoration: underline;
}

div.custom-control-description {
	color: rgb(125, 118, 112) !important;
}

body.modal-open {
	text-shadow: 0 0 0;
}

/** Scrollbar Starts **/
.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/** Scrollbar Ends **/

div.top-nav-bar {
	background-color: rgb(238, 238, 238);
	width: 80vw;
	height: 60px;
	padding-top: 19px;
}

div.top-nav-bar > a {
	color: rgb(102, 102, 102);
	font-size: 13px;
	font-weight: bolder;
	padding-left: 40px;
	padding-right: 24px;
	padding-bottom: 19px;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.non-highlighted-router-link:hover {
	border-bottom: 4px solid rgb(210, 210, 210);
}

a.highlighted-router-link {
	color: rgb(102, 102, 102);
	border-bottom: 4px solid rgb(210, 210, 210);
}

a.dark-button {
	color: #ffffff !important;
	font-size: 14px;
	background-color: rgb(102, 102, 102) !important;
	border-radius: 4px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.move-button-to-right {
	float: right;
	margin-right: 25px !important;
}

.lift-button-up {
	margin-bottom: 19px !important;
}

div.add-vertical-scrollbar {
	overflow-y: scroll;
	overflow-x: none;
}

div.content-wrapper {

	width: 80vw;
	height: 100%;
	padding-top: 28px;
	padding-left: 28px;
	padding-right: 28px;
}

div.content-wrapper > div.content-heading {
	color: #000000;
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
}

div.content-heading-underline {
	padding-bottom: 27px;
	border-bottom: 2px solid rgb(228, 228, 228);
}

div.table {
	display: table;
}

div.row {
	display: table-row;
}

div.cell {
	display: table-cell;
}

div.remove-right-left-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.align-left {
	float: left;
}

div.valign-top {
	vertical-align: top;
}

ul.component-list {
	list-style-type: none;
	padding-left:0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {

    border-left: 1px solid rgba(98, 98, 98, 0.2);
}

.select2-container--default .select2-selection--single {

    border: 1px solid rgba(221, 221, 221, 1) !important;
    /*background-color: rgba(221, 221, 221, 1) !important;*/
}

.select2-container--default .add-light-gray-background {

    background-color: rgba(221, 221, 221, 1) !important;
}

.file-preview {
	border-width: 0px !important
}

.fileUploadBtn {

	width: 200px;
	text-align: center;
	border-radius: 3px;
	padding: 8px 3px;
	color: rgba(225, 225, 225, 0.9);
    background-color: rgba(119, 119, 119, 1);
}

.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:12px;
	border-radius: 0.25rem;

	font-size: 13px;
	display: inline-block;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

span.small-description {

    color: rgba(153, 153, 153, 1);
    font-size: 12px;
}

span.small-description + a {

    color: rgba(66, 123, 173, 1);
    font-size: 12px;
    text-decoration: underline;
}

span.small-description-green {

    color: rgba(147, 196, 125, 1);
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

span.small-description-blue {

    color: rgba(128, 173, 221, 1);
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

span.small-description-orange {

    color: rgba(246, 182, 119, 1);
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

span.medium-description {

    color: rgba(153, 153, 153, 1);
    font-size: 12px;
}

.black-background {background-color:#000000;border-color:#000000;}
.white {color:#ffffff;}

.padding-list-group-item{
    padding-top: 1.5rem;
    padding-right: 1.25rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
}

.text-danger-custom {
    color: rgb(204, 0, 0);
}

.text-success-custom {
    color: rgb(106, 168, 79);
}

.text-warning-custom {
    color: rgb(230, 145, 56);
}


.padding-bottom{

  padding-bottom: 20px;
 
  
}
.padding-right{

  padding-right: 20px;
 
  
}
.padding-top{

  padding-top: 20px;
 
  
}
.padding-left{

  padding-left: 20px;
 
  
}

