.bring-dropdown-action-below {
    margin-top: 10px !important;
}

.btn-primary-dropdown {
    min-width: 100px;
    text-align: left;

    color: rgba(50, 50, 50, 0.8);
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
}
